# ID del usuario que ejecutará los procesos (Saca esto con el comando 'id')
USER_ID=1000
GROUP_ID=1000

# Rutas de persistencia
PATH_MQTT_DATA=./mosquitto/data
PATH_INFLUX_DATA=./influxdb-data
PATH_NODERED_DATA=./node-red-data